<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>TendoPay</name>
    <displayName><![CDATA[Buy now, pay later with TendoPay]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Integrate Philippines leading Buy now, pay later platform with your shop.]]></description>
    <author><![CDATA[TendoPay]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <confirmUninstall><![CDATA[Are you sure about removing these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
